* {
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
}
body {
  background: #d3d615;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0%;
}
header {
  background-color: #d0ff24;
  color: #000000;
  position: relative;
  max-width: 2000px;
}
nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
ul {
  list-style: none;
  display: flex;
}
li {
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #000000;
  transition: color 0.3s ease;
}
a:hover {
  color: gray; 
}
.home {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.learnmore {
  font-weight: bold;
  margin-top: 20px;
  display: inline-block;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #ffffffbd;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: transparent;
  border: 3px solid #ffffffbd;
}
.bgimage {
  background-image: url(../images/slu.jpg);
  height: 100vh;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  filter: brightness(30%);
}
.learnmore:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #090df1;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.learnmore:hover {
  color: #ffffff;
  border: 1px solid #3113d6;
}
.learnmore:hover:before {
  top: -35%;
  background-color: #3a1eda;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.learnmore:hover:after {
  top: -45%;
  background-color: #3a20cc;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
:is(p) {
  font-family: "Times New Roman", Times, serif;
}
.contentbg {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 50px;
}
.content {
  flex: 1;
  background-color: #f8f8f8;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}
.content h1 {
  font-size: 28px;
}
.content h2 {
  font-size: 20px;
}
.content p {
  font-size: 20px;
  line-height: 2.5;
  font-family: "Times New Roman", Times, serif;
}
.content a {
  color: #ffffff;
  text-decoration: none;
}
.ASSEACU {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(35, 142, 19, 0.5);
  font-family: Arial, sans-serif;
  color: #000000;
  flex-direction: column;
  text-align: justify;
  max-width: 800px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .home h1 {
    font-size: 30px;
  }
  .home p {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif, sans-serif;
    text-align: center;
  }
  .contentbg {
    display: block; 
    margin: 10px;
  }
  .content p {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif, sans-serif;
    text-align: justify;
  }
  .content h1 {
    font-size: 16px;
    text-align: justify;
  }
}
@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
  .home h1 {
    font-size: 30px;
  }
  .bgimage {
    background-image: url(../images\slu.jpg);
  }
  .home p {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif, sans-serif;
    text-align: center;
  }
  .contentbg {
    display: block;
    margin: 10px;
  }
  .content p {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif, sans-serif;
    text-align: justify;
  }
  .content h1 {
    font-size: 16px;
    text-align: justify;
  }
  .Assean {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  font-family: Arial, sans-serif;
  color: #000000;
  flex-direction: column;
  text-align: justify;
  max-width: 800px;
  margin: 0 auto;
 }

}





  